pip>=23.0
setuptools>=68.0
wheel

Flask==3.0.2
gunicorn==21.2.0
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy>=2.0

# ---- PyTorch CPU ONLY ----
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.1.2+cpu
torchvision==0.16.2+cpu

numpy==1.26.4
opencv-python
pandas
scikit-learn
